<%inherit file="/catalog/templates/app_base.htm" />

<%block name="centerpanel">
<div>
    <h2 id="title">${category}</h2>
    <form action="/catalog/searchresults/" method="GET" class="search">
    <button type="submit" class="btn btn-primary pull-right">Search<span class="glyphicon glyphicon-search"></span></button>
    <input class="pull-right  form-control" name="search-text" type="text" id="search"/>
    </form>
</div>
<hr>
<%block name="productlist">
<div class="productswrapperwrapper">
    % for p in products:
        <div class="productwrapper">
            <a href="/catalog/productdetails/${p.id}">
            <div class="productimg">
                <img alt="Picture of Saxohone " src="${STATIC_URL}${p.filepaths[0]}"/>
            </div>
            <div class="producttext">
                <h3>${p.name}</h3>
                <h5>${p.price}</h5>
            </div>
        </a>
        </div>
    % endfor
</div>
</%block>
</%block>
<%block name="leftpanel">
<h4>Categories:</h4>
<ul class="list-group">
      <li class="categoryitem"><a href="/catalog/index/" class="list-group-item ${'catalogactive' if request.urlparams[0] == '' else ''}">All Products</a></li>
    % for c in categories:
      <li class="categoryitem"><a href="/catalog/index/${c.codename}/" class="list-group-item ${'catalogactive' if request.urlparams[0] == c.codename else ''}">${c.name}</a></li>
    % endfor
</ul>
</%block>
