<%inherit file="/catalog/templates/index.html" />
<%block name="aboverow">
<ol class= "breadcrumb">
    <li><a href="/homepage/index/">Home</a></li>
    <li><a href="/catalog/index/">Catalog</a></li>
    <li class="active">${product.name}</li>
</ol>
</%block>
<%block name="centerpanel">
<div class="productdetailscontainer">
    <h1>${product.name}<h1>
    <div id="productdetailimagescontainer" data-id="${product.id}">
        <img class="imgcenter" src="${STATIC_URL}${product.filepaths[0].filepath}">
    </div>
    <h4>Price: ${product.price}</h4>
    <h4>Brand: ${product.brand}</h4>
    % if hasattr(product,'quantity'):
    <h4>Quantity left: ${product.quantity}</h4>
    % endif
    % if hasattr(product,'serial_number'):
    <h4>Condition: ${product.condition}</h4>
    % endif
    <p>${product.description}</p>
    % if hasattr(product,'quantity'):
    <input id="quantitybuy" name"quantitybuy" class="pull-right" type="text" value="1"/>
    <h4 class="pull-right quanitity-title">Quantity:</h4><br><br>
    % endif
    <a class="btn btn-primary pull-right">Buy Now</a>
</div>
</%block>
