<%inherit file="base_ajax.htm" />

<%block name="content">



<div id="imgcontainer">

    <span class="glyphicon glyphicon-menu-left left" id="previous"></span>
    % for img in productimgs:
        <img class="productimages hide" src="${STATIC_URL}${img.filepath}">
    % endfor
    <span class="glyphicon glyphicon-menu-right right" id="next"></span>

</div>
</%block>
