<%inherit file="/catalog/templates/index.html"/>

<%block name="productlist">
% for p in products:
    <a href="/catalog/productdetails/${p.id}">
    <div class="searchresult">
        <img alt="Picture of Saxohone " class="pull-left searchresultpic"src="${STATIC_URL}${p.filepaths[0]}"/>
        <div class="flexsearch">
        <div>
            <h3 id="productname">${p.name}</h3>
            <h4 id="productprice">${p.price}</h4>
            <p class="description">${p.description}</p>
        </div>
        </div>
    </div>
</a>
    <hr>
% endfor
</%block>
