<%inherit file="app_base.htm"/>

<%block name="centerrow">
<div class="form">
    <h2>Add Product</h2>
    <form action="" method="POST">
        ${csrf_input}
        ${form.as_p()}
        <button type"submit" class="btn btn-primary pull-right button">Submit</button>
    </form>
</div>
</%block>
