<%inherit file="/homepage/templates/base.htm" />

<%block name="aboverow">
  <li><a href="/homepage/index/">Home</a></li>
  <li><a href="/manager/index/" class="${ 'active2' if request.dmp_router_page == 'index' else '' }">Manager</a></li>
  <li class="active">${str.title(request.dmp_router_page) if request.dmp_router_page != 'index' else '' }</li>
</%block>
<%block name="navbar">
<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%block name="siteicon">
      <img class="site-icon" src="${ STATIC_URL}homepage/media/FOMO.PNG"></a>
      </%block>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><a href="/homepage/index/">Home</a></li>
        <li class= "${ 'active' if request.dmp_router_page == 'viewusers' else '' }"><a href="/manager/viewusers/">Users</a></li>
        <li class= "${ 'active' if request.dmp_router_page == 'viewproducts' else '' }"><a href="/manager/viewproducts/">Products</a></li>
    </ul>
      <ul class="nav navbar-nav" id="right">

    %if user.is_authenticated:
    <li class="dropdown ${ 'active' if request.dmp_router_page == 'catalog' else '' }">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome ${user.first_name} ${user.last_name} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/accounts/changepassword">Change Password</a></li>
        <li><a href="/accounts/accountchange">Edit Account</a></li>
        <li><a href="/accounts/logout">Logout</a></li>

      </ul>
    </li>

    %else:
      <li><a href="/accounts/login">Login</a></li>
    %endif
  </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</%block>
