<%inherit file="app_base.htm"/>

<%block name="centerrow">
<div class="form">
    <h2>Edit User</h2>
    <form action="" method="POST">
        ${csrf_input}
        ${form.as_p()}
        <a href="/manager/changepassword/${user.id}" class="btn btn-primary pull-left button">Change password</a>
        <button type"submit" class="btn btn-primary pull-right button">Submit</button>
    </form>
</div>
</%block>
