
<%inherit file="app_base.htm"/>

<%block name= "centerrow" >

    <table class="table table-striped">
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Serial Number</th>
            <th><a href='/manager/addproduct/'>add</a></th>

    % for p in products:
        <tr>
            <td>${p.category.name}</td>
            <td>${p.name}</td>
            <td>${p.price}</td>
            <td>
                ##ducktyping
                % if hasattr(p, 'quantity'):
                    <span class="getquantity">Don't Know</span>
                    <button href="/manager/viewproducts.getquantity/${p.id}/" class="getquantity btn btn btn-info pull-right">Update</button>
                %else:
                    -
                % endif
            </td>
            <td>
                % if hasattr(p, 'serial_number'):
                    ${p.serial_number}
                %else:
                    -
                % endif
            </td>
            <td><a href="/manager/editproduct/${p.id}/">edit</a> | <a href="/manager/product.delete/${p.id}/" id="delete" data-name="${p.name}">delete</a></td>
        </tr>
    % endfor
</table>

<!-- Modal -->
<div class="modal fade" id="ConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete that <span>item</span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a type="button" href="" id="reallydelete"class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

</%block>
