<%inherit file="app_base.htm"/>

<%block name= "centerrow" >

    <table class="table table-striped">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Street Address</th>
            <th>city</th>
            <th>state</th>
            <th>postal Code</th>
            <th><a href='/manager/adduser/'>add</a></th>
    % for u in users:
        <tr>
            <td>${u.last_name}</td>
            <td>${u.first_name}</td>
            <td>${u.username}</td>
            <td>${u.email}</td>
            <td>${u.streetaddress}</td>
            <td>${u.city}</td>
            <td>${u.state}</td>
            <td>${u.postalcode}</td>
            <td><a href="/manager/edituser/${u.id}/">edit</a> | <a href="/manager/edituser.delete/${u.id}/" id="delete" data-name="${u.first_name} ${u.last_name}">delete</a>  | <a href="/manager/changepassword/${u.id}">change password</a></td>
        </tr>
    % endfor
</table>


<!-- Modal -->
<div class="modal fade" id="ConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete that <span>item</span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a type="button" href="" id="reallydelete"class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

</%block>
