.leftpanel
{
    width: 100px;
}
.rightpanel
{
    width: 100px;
}

.center
{
    background-color: white;
    padding: 2em;

}

p
{
    font-size: 14px;
    margin-bottom: 80px;
}

#left
{
    float: left;
    margin-right: 20px;
}

.center h2
{
    font-family: sans-serif;
    font-size: 30px;

}
p .btn-primary
{
    background-color: #1560BD;
    color: #FFFAFA;
}
.center img
{
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 5px;
    border-radius: 10px;
    margin-right: 5px;

}
h1
{
    color: black;
    font-size: 48px;
}
.btn
{
    color: black;
    margin-top: 5px;
}
