body
{
    overflow-x: hidden;
}
#centerrow
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;

}
a
{
    cursor: pointer;
}
.active2
{
    color: grey;

}

.active2:hover, .active2:focus
{
    cursor: default;
    text-decoration: none;
    color: grey;
}
#centerflexcontainer
{
    display: flex;
    flex-direction: row;
    align-items: stretch;

}
.breadcrumb
{
    margin-bottom: 0;
    background-color: #e7e7e7;
}
.alerts
{
    position: fixed;
    top: 5%;
    right: 4%;
    height: 8%;
    width: 10%;
    display: none;
    z-index: 100;
    border: 1px solid transparent;
border-radius: 4px;
 padding-top: 5px;
padding-left: 5px;
}

.warning
{
    position: fixed;
    top:0px;
    z-index: 10;

}
.site-icon
{
    height: 50px;
    width: 100px;
    padding-right: 3px;
}
.leftpanel
{
    width: 200px;
    flex-shrink: 0;


}

.centerpanel
{

}
.rightpanel
{


    width: 200px;
    flex-shrink: 0;

}

.try
{
    position: absolute;
    top:0;
}
.warning
{
    width: 100%;

    position: fixed;
    top: 0px;

}

.aboverow
{
    width: 100%;


}

.footer
{
    width: 100%;

}




h1
{
    margin-top: 0;
    color: white;
    font-size: 100px;
}
.h1sub
{
    color: white;
    font-size: 30px;

}
.lowercenterpage
{
    margin-top: 0px;
    padding-left: 10%;
}
.centerpage
{
    padding-top: 5em;

}
.topbutton
{
    float: right;
    padding-right: 10%;
    padding-top: 5%;
}
.bottomelementtitle
{
        padding: 1%;
}

.Color
{
        background-image: url("/static/homepage/media/Batchelor, Blake.jpg");
        background-size: cover;

        height: 100vh;
        width: 100%;
}

#nav
{
    margin-bottom: 0;
}

.Color > img
{
    height: 100vh;
    width: 100%;
}

.undertop
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-around;
}

.undertop .flexchild
{
  background-color: red;
  flex-direction: row;

  width: 46%;
  padding: 1% 1% 1% 1%;
}

p
{
        font-size: 20px;
}

.bottomelementbutton
{
    float: right;
}
.undertop .flexchild img
{
  width: 100%;
  height: 100%;
  padding: 1%;
}

.footer
{
    text-align: center;
}

#right
{
    float: right;
}

#centerrow
{
    justify-content: center;
}
.form
{
    background: white;
    display:flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid #73AD21;
    box-shadow: 5px 5px 5px #888888;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}
form
{
    display: inline;
}
h2
{
    display: inline;
}
.button
{
    color:black;
    margin-bottom: 10px;
    margin-right: 10px;
}

.hidden
{
    display: none;
}

@media all and (max-width: 500px) {

    #centerrow
    {
        display: flex;
        flex-direction: column;
    }
    .undertop
    {
        flex-direction: column;
        align-items: center;
    }
    h1
    {
            font-size: 30px;
    }
    .h1sub
    {
        font-size: 16px;
    }
    .undertop .flexchild
    {
        width: 100%;

    }
    .reorder
    {
        order: -1;
    }
    h2
    {
        font-size: 24px;
        margin-bottom: 0;
    }

    .bottomelementtitle
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }



}
