.leftpanel
{
    width: 300px;

}
.rightpanel
{
    width: 300px;
}

.center
{
    margin: 1em;
    background-color: white;
    padding: 2em;

}

.form-group
{
    display: block;
}

#exampleInputEmail2
{
    height: 10em
}
div .btn-default
{
    background-color: #1560BD;
    color: #FFFAFA;
}
