.aboveintro
{
    text-align: center;


}
.aboveintro
{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    margin-top: 0px;
    font-size: 38px;
    background-color: #4f8af7;
    font-family: serif;

}
.centerpanel
{

    background-color: white;
    padding: 2% 2%;
    height: inherit;
}

#centerrow
{
    height: inherit;
}
.questions
{
    font-size: 24px;
}

.answers
{
    font-size: 14px;
}
