#centerrow
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}
body
{
    background-color: #FFFAFA;
}
#centerflexcontainer
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.hide
{
    display: none;
}
.site-icon
{
    height: 50px;
    width: 100px;
    padding-right: 3px;
}
.leftpanel
{
    width: 0em;
    background: yellow;
}

div .btn-default
{
    background-color: #1560BD;
    color: #FFFAFA;
}
.centerpanel
{
    height: inherit;
}
.rightpanel
{

    align-self:  flex-end;
    width: 0em;
    background: pink;
}

.try
{
    position: absolute;
    top:0;
}
.warning
{
    width: 100%;
    background: red;
    position: fixed;
    top: 0px;

}

.aboverow
{
    width: 100%;
    background: silver;

}

.footer
{
    width: 100%;
    background: blue;
}




h1
{
    margin-top: 0;
    color: white;
    font-size: 100px;
}
.h1sub
{
    color: white;
    font-size: 30px;

}
.lowercenterpage
{
    margin-top: 0px;
    padding-left: 10%;
}
.centerpage
{
    padding-top: 5em;

}
.topbutton
{
    float: right;
    padding-right: 10%;
    padding-top: 5%;
}
.bottomelementtitle
{
        padding: 1%;
}

.Color
{
        background-image: url("/static/homepage/media/Indexphoto3.jpeg");
        background-size: cover;

        height: 90vh;
        width: 100%;
}

#nav
{
    margin-bottom: 0;
}

.Color > img
{
    height: 80vh;
    width: 100%;
}

.undertop
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-around;
}

.undertop .flexchild
{
  background-color: inherit;
  flex-direction: row;

  width: 46%;
  padding: 3% 1% 3% 1%;
}

p
{
        font-size: 20px;
}

.bottomelementbutton
{
    float: right;
}
.undertop .flexchild img
{
  width: 100%;
  height: 400px;
  padding: 1%;

}

.footer
{
    text-align: center;
}

@media all and (max-width: 500px) {

    .undertop
    {
        flex-direction: column;
        align-items: center;
    }
    h1
    {
            font-size: 30px;
    }
    .h1sub
    {
        font-size: 16px;
    }
    .undertop .flexchild
    {
        width: 100%;

    }
    .reorder
    {
        order: -1;
    }
    h2
    {
        font-size: 24px;
        margin-bottom: 0;
    }

    .bottomelementtitle
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }


}
