#centerrow
{
    display: flex;
    flex-direction: row;
    align-items: stretch;

}
h3
{
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 5px;
}
#centerflexcontainer
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.alerts
{
    position: fixed;
    top: 5%;
    right: 4%;
    height: 8%;
    width: 10%;
    background-color: blue;
    z-index: 100;
    border: 1px solid transparent;
border-radius: 4px;
 padding-top: 5px;
padding-left: 5px;
}
.site-icon
{
    height: 50px;
    width: 100px;
    padding-right: 3px;
}
.leftpanel
{

    background: yellow;
}

.centerpanel
{
    height: 78vh;
}
.rightpanel
{


    background: pink;
}

.try
{
    position: absolute;
    top:0;
}
.warning
{
    width: 100%;
    background: red;
    position: fixed;
    top: 0px;

}

.aboverow
{
    width: 100%;
    background: silver;

}

.footer
{
    height: 30px;
    width: 100%;
    background: blue;
}




h1
{
    margin-top: 0;
    color: white;
    font-size: 100px;
}
.red
{
    background-color: red;
}
.h1sub
{
    color: white;
    font-size: 30px;

}
.lowercenterpage
{
    margin-top: 0px;
    padding-left: 10%;
}
.centerpage
{
    padding-top: 5em;

}
.topbutton
{
    float: right;
    padding-right: 10%;
    padding-top: 5%;
}
.bottomelementtitle
{
        padding: 1%;
}

.Color
{
        background-image: url("/static/homepage/media/Batchelor, Blake.jpg");
        background-size: cover;

        height: 100vh;
        width: 100%;
}

#nav
{
    margin-bottom: 0;
}

.Color > img
{
    height: 100vh;
    width: 100%;
}

.undertop
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-around;
}

.undertop .flexchild
{
  background-color: red;
  flex-direction: row;

  width: 46%;
  padding: 1% 1% 1% 1%;
}

p
{
        font-size: 20px;
}

.bottomelementbutton
{
    float: right;
}
.undertop .flexchild img
{
  width: 100%;
  height: 100%;
  padding: 1%;
}




@media all and (max-width: 500px) {

    #centerrow
    {
        display: flex;
        flex-direction: column;
    }
    .undertop
    {
        flex-direction: column;
        align-items: center;
    }
    h1
    {
            font-size: 30px;
    }
    .h1sub
    {
        font-size: 16px;
    }
    .undertop .flexchild
    {
        width: 100%;

    }
    .reorder
    {
        order: -1;
    }
    h2
    {
        font-size: 24px;
        margin-bottom: 0;
    }

    .bottomelementtitle
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }


}
