<%inherit file="app_base.htm" />

<%block name="centerrow">
<div class="form">
    <h2>Login</h2>
        <form action="" method="POST" id="loginform">
        ${csrf_input}
        ${form.as_p()}
        <button type"submit" class="btn btn-primary pull-right button">Login</button>
    </form>
</div>
</%block>
