.frontphoto
{
    background-image: url("/static/landingpages/media/landingpagephoto1.jpg");
    background-size: cover;

    height: 70vh;
    width: 100%;
    z-index: -100;
}
.Storename
{
    font-family: cursive;
    font-size: 30px;
}
.container2
{
    padding: 0px 10px;
    padding-bottom: 30px;
    background-color: grey;
}
p{
    padding: 10px 50px;
}
.white
{
    background-color: white
}
#centerrow
{
    background-color: white;
}
.row
{
    margin-right: 0px;
}
.rightpanel
{
    display: none;
}
.rightborder
{
    border: 2px;
}
.leftpanel
{
    display: none;
}
body{
    background-color: white;
}
div .btn-default
{
    background-color: #1560BD;
    color: #FFFAFA;
}
#black
{
    color: black;
}

.centerpage
{
    padding-top: 2.5em;
}

.topbutton
{
    padding-top: 0%;
}

h1
{
    color: black;
}
h2
{
    color: black;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 26px;
}
h3
{
    padding-left: 5px;
    margin-top: 5px;
}
.h1sub
{
    color:black;
}
#centerrow
{
    display: inherit;
}
