<%inherit file="app_base.htm" />


        <%block name="centerrow">
        <div class="container2">
            <span class="Storename">FOMO Music Store</span>
            <div class="white">
        <div class="frontphoto">
            <div class="row" id="black">
          <div class="col-md-11 col-md-offset-1 centerpage"><h1>#1 in High School</h1></div>
          <div class="col-md-11 col-md-offset-1 lowercenterpage"><h1>Band Instruments</h1></div>
          <div class="col-md-11 col-md-offset-1"><span class="h1sub">High-Quality Instruments for the Whole Family*</span></div>
          <span class="topbutton"><button type="button" name="button" class="btn-lg btn-default">Browse Instruments</button></span>
      </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-lg-6 ">
                <h2>What the is best instrument for high school students?</h2>
                <p>There are plenty if opinions out there for this exact question. The answer does vary with each high school student. When choosing an instrument a number of factors should be considered. For instance if a student is really small than a cello or a base may not be great. If parent of a student likes a quieter instrument than the trumpet might not  the best fit. We encourage theeach student to do a trail run before choosing. That is why Family Oriented Music Organization provide a 30-day satisfaction garntee.</p>
            </div>
            <div class="col-lg-6">
                <h2>What is the easiest band instrument to learn?</h2>
                <p>For those who feel behind because they are just learning an instrument for the first time, whether it be in highschool or in general, we encourage to keep learning. In our experiance some of the eaiser instruments to learn are the paino, or violin. However, in our experiance it is important to choose an instrument that you'll love to play. That is why Family Oriented Music Organization provide a 30-day satisfaction garentee. </p>
            </div>
    </div>
 </div>
    </div>

        </%block>
<%block name="footer">
</%block>
