<%inherit file="app_base.htm" />
<%block name="TopContent">
<div class="center">
    <h1>About Us</h1>
    <hr>

    <img alt="A anrtist women" src="${ STATIC_URL }homepage/media/pexels-photo-57851.jpeg"/>
    <h2>Who is FOMO?</h2>
    <p>Fomo is pretty much the greatest store in the history of this world! Ok maybe not quite that good, but we have tried hard to be that type of caliber store. We are family owned and operated. We open our doors in 1982 and have been serveing the community with great quality instruments ever since. One of the things that is must important to us is to make music affordable and avaliable to anyone wants it. This was a driving factor in our rent to own program. It is not a ploy to make money, but a fantastic option to make sure more people can learn and play. In short, Our focus is on you the customer!</p>

    <img id="left" alt="a vilion being played like a giture" src="${ STATIC_URL }homepage/media/pexels-photo-121745.jpeg"/>
    <h2>How did we get our start?</h2>
    <p>Our founder was Nate "FOMO" Shawcroft, who claims to have first coined the phrase FOMO or the fear of missing out. His greatest fear was people who could enjoy playing music as much as he does, but never got the chance, would miss out. That's way in 1959 he found his first music store in Provo, UT. The store was slow  growing, but the center of the community. Later, as FOMO grew, he was determine to stay away from a big retailer feel. His goal is that everyone who walks in to FOMO will have a positive experiance, even if they don't buy anything. Today we are in 4 states in the mountain west and a keeping Nate's dreams alive.</p>

    <img alt="A shop in a bussy street" src="${ STATIC_URL }homepage/media/city-road-people-street.jpg"/>
    <h2>How can I find the Fomo Stores</h2>
    <p>We are located all over the Mountain West, specifically in Arizona, New Mexico, Utah, Colorado. Some notable cities we are located in are Salt Lake city and Provo UT, Albqueque New MExico, and Denver Colorado. For specific addresses and more locations click the button below.<br><button class="btn btn-primary">Locations</button></p>


    <h2>Accessiblity statement</h2>
    <p>Here at Fomo we want everyone to feel comfortable and be able to browse our website. we have added better contrast from background to text, contrast to links, Hiechrial labels and alt description of images too help the visiually impaired feel comfortable in our web</p>
    <hr>
    <p>Have more questions? Feel free to contact us <a>here</a></p>


</div>
</%block>
