<%inherit file="base.htm" />
# imports
<%!
from django_mako_plus import get_template_css, get_template_js
from datetime import datetime
%>
<%block name="aboverow">
  <li><a href="/homepage/index/">Home</a></li>
  <li class="active">${str.title(request.dmp_router_page) if request.dmp_router_page != 'index' else '' }</li>
</%block>
<%block name="navbar">
<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%block name="siteicon">
      <img class="site-icon" src="${ STATIC_URL}homepage/media/FOMO.PNG"></a>
      </%block>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/homepage/index/">Home<span class="sr-only">(current)</span></a></li>
        <li class="dropdown ${ 'active' if request.dmp_router_app == 'catalog' else '' }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalog <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/catalog/index/">All Instruments</a></li>
            <li><a href="/catalog/index/brass">Brass</a></li>
            <li><a href="/catalog/index/kids">Kids Toy Products</a></li>
            <li><a href="/catalog/index/percussion">Percussion</a></li>
            <li><a href="/catalog/index/string">String</a></li>
            <li><a href="/catalog/index/woodwind">Woodwind</a></li>
          </ul>
        </li>

        <li class= "${ 'active' if request.dmp_router_page == 'about' else '' }"><a href="/homepage/about/">About</a></li>
        <li class= "${ 'active' if request.dmp_router_page == 'contact' else '' }"><a href="/homepage/contact/">Contact</a></li>
        <li class= "${ 'active' if request.dmp_router_page == 'faq' else '' }"><a href="/homepage/faq/">FAQ</a></li>

        <!--for graders benifit-->
        <li class= "${ 'active' if request.dmp_router_page == 'section' else '' }"><a href="/homepage/section/">Sections</a></li>
        <li class= "${ 'active' if request.dmp_router_page == 'Terms' else '' }"><a href="/homepage/terms/">Terms</a></li>



      </ul>
 <ul class="nav navbar-nav" id="right">
    %if user.is_authenticated:
    <li class="dropdown ${ 'active' if request.dmp_router_app == 'manager' else '' }">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manager <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/manager/viewproducts/">Products</a></li>
        <li><a href="/manager/viewusers/">Users</a></li>

      </ul>
    </li>

    <li class="dropdown ${ 'active' if request.dmp_router_page == 'catalog' else '' }">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome ${user.first_name} ${user.last_name} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/accounts/changepassword">Change Password</a></li>
        <li><a href="/accounts/accountchange">Edit Account</a></li>
        <li><a href="/accounts/index">Account</a></li>
        <li><a href="/accounts/logout">Logout</a></li>

      </ul>
    </li>

    %else:
      <li><a href="/accounts/signup/">Register</a></li>
      <li id="loginbutton"><a>Login</a></li>
    %endif
  </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</%block>
