## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%!
from django_mako_plus import get_template_css, get_template_js
from datetime import datetime
%>


<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <link rel="icon" href="${ STATIC_URL}homepage/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="${ STATIC_URL}homepage/media/jquery.datetimepicker.min.css"/ >
    <title>FOMO</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="${ STATIC_URL}homepage/media/jquery.datetimepicker.full.min.js"></script>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/css/bootstrap.css">
    <script src="${ STATIC_URL }homepage/scripts/js/bootstrap.min.js"></script>
    <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>
    <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>
    ## render the css with the same name as this page
    ${ get_template_css(self, request, context) }

  </head>
  <body>
      <!--this is my maintenace messageblock-->
      <div class="warning">
      <%block name="warning"></%block>
      </div>
<div class="header">
<%block name="header">

<div class="alerts">
<%block name="alerts">

</%block>
</div>
<%block name="navbar">

</%block><!--endnavblock-->

</%block>
</div>

<div class="aboverow"><ol class="breadcrumb">
<%block name="aboverow"></%block></ol></div>
<div id="centerrow">
<%block name="centerrow">
            <div class="leftpanel">
                <%block name="leftpanel">



                </%block>
            </div>

            <div class="centerpanel">
                <%block name="centerpanel">

                        <%block name="TopContent"></%block>
                        <%block name="undertop1"></%block>
                        <%block name="undertop2"></%block>
                        <%block name="undertop3"></%block>
                        <%block name="undertop4"></%block>

                </%block>
            </div>

        <div class="rightpanel">
            <%block name="rightpanel">

            </%block>
        </div>
</%block>
</div>
<%block name="belowcenterpanel">
</%block>
        <div class="footer">
             <%block name="footer">
                    <span class="glyphicon glyphicon-copyright-mark" id="right">${datetime.now().year}</span>
            </%block>
        </div>
        ${ get_template_js(self, request, context) }

  </body>
</html>
