<%inherit file="app_base.htm" />
<%block name="TopContent">
<div class="center">
    <h3>We are here to serve you if you have any questions feel free to give us a call at <br>800-323-3434  or email us with the form below.</h3>
        <form method="post">
            ${ csrf_input }
            ${ form.as_p()}
            <button type="submit" class = "btn btn-default"/>Send Message</button>
        </form>
</div>
</%block>
