<%inherit file="app_base.htm" />

<%block name="aboverow">
<h4 class="aboveintro">Frequently Asked Questions<hr></h4>
</%block>

<%block name="centerpanel">
<div class="centerpanel">
<div class="intro"></div>
<div class="questions">What instruments does FOMO sell?</div>
<div class="answers">We sell a wide variety of instrument including strings, woodwinds, percussion, and brass.</div>
<hr>
<div class="questions">What are the payment options</div>
<div class="answers">We work hard to find each customer a payment plan they can feel good about. Some perfer to pay up front and that's great with us. Most perfer our ledendary rent-to-own plan where a customer gets to rent the instrument for 18 months and after that the instrument is theirs!</div>
<hr>
<div class="questions">How can I find teachers who can teach me to play?</div>
<div class="answers">Right here on our website! We have a large community of teachers who are looking to share their passion with students who want to learn.</div>
<hr>
<div class="addtionalhelp">Not finding what your looking for? feel free to contact us <a href ="contact">here</a></div>
</div>
</%block>
