<%inherit file="app_base.htm" />

<div class="hide"><%block name="leftpanel"></%block></div>
<span class="hide"><%block name="rightpanel"></%block></span>
<%block name="TopContent">
     <div class="Color">

      <div class="row">
          <div class="col-md-11 col-md-offset-1 centerpage"><h1>Family Oriented</h1></div>
          <div class="col-md-11 col-md-offset-1 lowercenterpage"><h1>Music Organization</h1></div>
          <div class="col-md-11 col-md-offset-1"><span class="h1sub">High-Quality Instruments for the Whole Family*</span></div>
          <span class="topbutton"><button type="button" name="button" class="btn-lg btn-default">Browse Instruments</button></span>
      </div>

</div>
</%block>


<%block name = "undertop1">
<div class="undertop">
    <div class="flexchild">
        <span class="bottomelementtitle"><h2>Huge Selection of New and Used Instruments</h2></span>
        <p>We have an enormous selection of instruments. What ever you are looking for we have it, whether the instrument you are looking for is a trumpet or a flute we are the one shop stop. All of our instruments in great condition so new or used you are going to be happy. What are you waiting for click the button to start browsing our instrument.</p>

        <button type="button" name="button" class="bottomelementbutton btn btn-default">Start to browse</button>
    </div>
    <div class="flexchild">
        <img alt="Picture of Saxohone " src="${ STATIC_URL}homepage/media/Indexphoto1.jpg"/>
    </div>
</div >
</%block>

<%block name = "undertop2">
<div class="undertop">

    <div class="flexchild">
        <img alt="Pricture if a flute " src="${ STATIC_URL}homepage/media/indexphoto6.jpeg"/>
    </div>

    <div class="flexchild reorder">
        <span class="bottomelementtitle"><h2>Flexible Instrument Rental Program</h2></span>
        <p>We want your experience with instruments to be a qualtiy one, but we also want it to be affordable on the family budget. This is why we introduced our rent to own program. This will allow ever student to try out the instrument and see if it is the best fit for them with out having to put a large sum of money to down. To find more details click the button below.</p>

        <button type="button" name="button" class="bottomelementbutton btn btn-default">See Details</button>
    </div>
</div >
</%block>

<%block name = "undertop3">
<div class="undertop">
    <div class="flexchild">
        <span class="bottomelementtitle"><h2>Buy Accessories</h2></span>
        <p>To truly have the best experience when playing an instrument great accessories are required. We have sheet music to add varitey and pleasure to your jam out sessions, capos that will add a fun twist to your guitar playing, and anything that you break on your musical instrument can be replace. click below to start browsing.</p>

        <button type="button" name="button" class="bottomelementbutton btn btn-default">Click to browser</button>
    </div>
    <div class="flexchild">
        <img alt="Picture of a a vioulin player" src="${ STATIC_URL}homepage/media/Indexphoto2.jpeg"/>
    </div>
</div >
</%block>
<%block name = "undertop4">
<div class="undertop">

    <div class="flexchild">
        <img alt="Picture of old women playing the harp " src="${ STATIC_URL}homepage/media/Indexphoto5.jpeg"/>
    </div>

    <div class="flexchild reorder">
        <span class="bottomelementtitle"><h2>Network of Instrument Teachers</h2></span>
        <p>Every great student starts with a great teacher. Here at FOMO we have worked hard to build a teacher network we could be proud of. Each of our teachers has an indepent practice giving you the ability to pick which teacher is right for you. You can browse our directory below by clicking below. </p>

        <button type="button" name="button" class="bottomelementbutton btn btn-default">Browse teachers</button>
    </div>
</div >
</%block>
