<%inherit file="app_base.htm" />


<%block name="leftpanel">

</%block>

<%block name="TopContent">
    <div>
        <h1>Terms of use</h1><br>
        <p><strong>Introduction</strong></p>
<p>Welcome! You have arrived at www.FOMO.com (the “Site”). Thank you for visiting the Site. While we hope you enjoy the Site, it is important that you carefully read these Terms of Use (“Terms”) before using the Site, as they affect your legal rights and obligations and govern your use of the Site. These Terms apply to the Site, which is owned and operated by FOMO  Entertainment (“SB Entertainment,” “we,” “our,” or “us”). These Terms also apply to interactive features or downloads that are owned or controlled by SB Entertainment, are available through the Site, or that interact with the Site and post these Terms. These Terms do not apply to any offline activities by SB Entertainment (unless specifically stated). You agree to these Terms by accessing or using the Site. IF YOU DO NOT AGREE TO BE BOUND BY ALL OF THESE TERMS, DO NOT USE THE SITE.<br>In some instances, both these Terms and a separate terms of service setting forth additional terms and conditions (such as our FOMOShop.com program Terms and Conditions may apply to a service or product offered via the Site (“Additional Terms”). To the extent there is a conflict between these Terms and any Additional Terms, the Additional Terms will control unless the Additional Terms expressly state otherwise. You consent to the collection and use of your data in accordance with the Site’s Privacy Policy .</p>
<p><strong>accounts Registration</strong></p>
<p>Certain areas of the Site may require registration or may otherwise ask you to provide information to participate in certain features, such as to purchase products, in order to participate in a loyalty rewards program, receive electronic newsletters or mobile alerts or to participate in social networking activities. The decision to provide this information is purely optional; however, if you elect not to provide such information, you may not be able to participate in certain features of the Site. When you provide information to the Site, you agree to provide only true, accurate, current and complete information.</p>
<p>If you register on the Site and/or create a personal profile, you agree to accept responsibility for all activities that occur under your accounts (“accounts”) or password, if any, and you agree you will not sell, transfer or assign your membership or any membership rights to your accounts. You are responsible for maintaining the confidentiality of your password, if any, and for restricting access to your computer (or other Internet access device, as applicable) so that others may not access the password protected portion of the Site using your name in whole or in part. SB Entertainment reserves the right to terminate your accounts or otherwise deny you access in its sole discretion without notice and without liability.</p>
<p>(a) Ordering Merchandise, Physical Goods and Digital Media Purchases<br>You need a valid credit card (except to the extent we permit purchases with gift cards, gift certificates, promotional or discount codes, or similar forms of payment), with full authority to use it, to submit an order for merchandise, digital music and media or other products or services through our Site. You hereby represent and warrant that you will not use any credit card or other form of payment unless you have all necessary legal authorization to do so. You understand that we will not be liable in the event that others acting with or without your permission use your credit card to make purchases on the Site.</p>
<p>(b) Prices; Colors; Availability<br>All prices listed on the Site are subject to change. In the event a product or service is listed at an incorrect price or with incorrect information due to typographical error or error in pricing or product information received from our suppliers, we shall have the right, prior to the acceptance of your order pursuant to our Order Acceptance Policy described below, to refuse or cancel any such orders whether or not the order has been confirmed and your credit card charged. If your credit card has already been charged for the purchase and we cancel your order, we shall issue a credit to your credit card accounts in the amount of the charge. Please note that the colors of items and products may depend on your monitor and may not be correctly displayed.</p>
<p>Please keep in mind that while we might offer a variety of merchandise, digital music and media and other products and services for sale on the Site, we cannot guarantee availability at a particular time. We reserve the right to change our merchandise, digital music and media content and other products and service offerings at any time. We also reserve the right to change contents, features and offerings, and adjust accessibility of the Site from time to time in our discretion.</p>
<p>(c) Order Acceptance Policy<br>Your receipt of an electronic or other form of order confirmation does not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. We reserve the right at any time after receipt of your order to accept or decline your order for any reason. We reserve the right at any time after receipt of your order, without prior notice to you, to supply less than the quantity you ordered of any item. We may require additional verifications or information before accepting any order. Your order is not accepted until we send you shipping information for the order (or the accepted portion thereof). Notwithstanding the foregoing, you agree that, if we cancel all or a portion of your order or if we provide you less than the quantity you ordered, your sole and exclusive remedy is either that (a) we will issue a credit to your credit card accounts in the amount charged for the cancelled portion or the quantity not provided (if your credit card has already been charged for the order) or (b) we will not charge your credit card for the cancelled portion of the order or the quantity not provided.</p>
<p>(d) Payment Terms<br>For each product or service that you order on the Site, you agree to pay the price applicable for the product (including any sales taxes, surcharges and any delivery fees for the delivery service you select) as of the time you submitted the order. SB Entertainment will automatically bill your credit card or other form of payment submitted as part of the order process for such price.</p>
<p>(e) Sales Taxes<br>Sales taxes, or other taxes, duties, customs, import/export charges, or similar governmental charges are not included in the price of the products. We shall automatically charge and withhold the applicable sales tax for orders to be delivered to addresses within the United states in accordance with our order policy in effect at the time of purchase. Each customer shall be solely responsible for all sales taxes, or other taxes, duties, customs, import/export charges, or similar governmental charges (except for taxes on SB Entertainment’s net income), on orders shipped outside the United states.</p>
<p>(f) Return Policy<br>All purchase transactions are subject to FOMO Shop’s return policy in effect at the time of purchase. We may modify our return policies from time to time so you should check these each time prior to making a purchase. For returns, we offer exchanges and store credit; we do not offer refunds. Returns are limited solely to apparel with fabric that is materially flawed.</p>
<p><strong>Promotions</strong></p>
<p>The Site may contain or offer sweepstakes or other promotions, which may be governed by a separate set of rules that describe the sweepstakes or promotion and may have eligibility requirements, such as certain age or geographic area restrictions. It is your responsibility to read those rules to determine whether or not your participation, registration or entry will be valid and to determine the sponsor’s requirements of you in connection with the applicable sweepstakes or promotion.</p>
<p><strong>Ownership of Site Materials</strong></p>
<p>(a) Materials. The Site (including past, present and future versions) and all materials that are included in or are otherwise a part of the Site, including, without limitation: graphics; layout; text; content; instructions; images; audio; videos; digital media offered by streaming (but specifically excluding Digital Media Purchases) designs; advertising copy; trademarks; logos; domain names; trade names; service marks and trade identities; any and all copyrightable material (including source and object code); the “look and feel” of the Site; the compilation, assembly and arrangement of the materials of the Site; and all other materials related to the Site (collectively, the “Materials”) are owned, controlled or licensed by SB Entertainment, its subsidiaries or affiliates and are protected from unauthorized use, copying and dissemination by copyright, trademark, patent, publicity and other laws, rules, regulations and international treaties. Except as expressly set forth in these Terms or otherwise expressly granted to you in writing by SB Entertainment, no rights (either by implication, estoppel or otherwise) are granted to you. Any and all rights to use any Materials not expressly granted to you under this Terms are hereby reserved for SB Entertainment and/or its members, subsidiaries, affiliates or its licensors. Nothing contained in these Terms will affect, impair, or limit in any way SB Entertainment’s rights to exploit fully any or all of the Materials. You acknowledge and agree that you will not, directly or indirectly, contest, challenge, aid or abet in contesting or challenging the validity or ownership of the Materials, or take any action whatsoever in derogation of SB Entertainment’s rights therein, or in breach of, any terms and conditions contained in this Terms.</p>
<p>(b) Copyright/Trademarks. The entire contents of the Site (including the Materials) are copyrighted under the United states copyright laws and/or similar laws of other jurisdictions. Without limitation, SB Entertainment owns a copyright in the selection, coordination, arrangement and enhancement of the Materials on the Site. Third-party content providers own the copyright in content that is original to them. Trademarks and service marks, such as the SB Entertainment name and logo, the FOMO Shop name and logo, and the Site URLs are the service and trademarks of SB Entertainment. Without SB Entertainment’s prior written permission, you agree not to display or use, in any manner any such marks and all goodwill associated with any use by you thereof will inure exclusively to SB Entertainment. The Materials may not be copied, reproduced, downloaded or distributed in any way, in whole or in part, without the express prior written permission of SB Entertainment, unless and except as is expressly provided in these Terms. Any unauthorized use of the Materials is prohibited. You agree to abide by any and all additional trademark and copyright notices, information or restrictions contained in any part of the Site.</p>
<p>(c) Notice: Certain functionality provided via this website may be covered by U.S. Patent 5,930,474.</p>
<p><strong>Your License to Use Materials and Digital Media Purchases on Our Site</strong></p>
<p>(a) License for Materials. Subject to your strict compliance with these Terms, SB Entertainment grants you a limited, personal, non-exclusive, non-commercial, revocable, non-assignable and non-transferable license to download, display, view, use and/or play a single copy of the Materials (excluding source and object code) in raw form or otherwise, other than as made available to access and use via standard web browsers to enable display on your device) on any single computer (or other device you use to access the Site) for your personal, non-commercial use only; provided that: (a) you keep intact all trademark, copyright and other proprietary notices contained in the original Materials or any authorized copy you may make of the Materials; (b) you do not use the Materials in a manner that suggests an association with any of our products, services or brands; (c) you make no modifications to the Materials; (d) you do not allow or aid or abet any third party (whether or not for your benefit): (i) to copy or adapt the source or object code of either Site’s software, HTML, JavaScript or other programming code; or (ii) reverse engineer, decompile, reverse assemble, modify or attempt to discover any source code that the Site creates to generate their web pages or any software or other products or processes accessible through the Site; and (e) you do not insert any code or product to manipulate the Materials in any way that affects any user’s experience of the Site.</p>
<p>(b) Prohibited Activities. You also agree that you will not: (a) use any robot, spider, rover, scraper, or any other data mining technology or automatic or manual process to monitor, cache, frame, mask, extract data from, copy or distribute the Materials (except as may be a result of standard Internet browser or search engine); (b) fail to follow the instructions provided on the Site in a “robots.txt” file or similar mechanism (to the extent that you provide standard search engine services to the public); nor will you (c) modify, frame, reproduce, archive, sell, lease, rent, exchange, create derivative works from, publish by hard copy or electronic means, publicly perform, display, disseminate, distribute, broadcast, retransmit, circulate to any third party or on any third-party web site, or otherwise use the Materials in any way for any public or commercial purpose except as specifically permitted by these Terms or SB Entertainment without the prior written consent of SB Entertainment.</p>
<p>(c) Digital Media Purchases and Usage Rules. If you engage in Digital Media Purchases from the Site, including, but not limited to, permanent music downloads, you are granted a limited, non-commercial, revocable, non-assignable and non-transferable license to perform the Digital Media Purchases solely for your personal, non-commercial entertainment. All Digital Media Purchases are sublicensed to you and not sold, notwithstanding the use of the terms “sell,” “purchase,” “order,” or “buy” on the Site or in this Agreement. All right and title, including, but not limited to, commercial or promotional use rights, in Digital Media Purchases available for preview or purchase on the Site is reserved by the parties who have licensed the Digital Media Purchases for sale by the Site. You may not reproduce (except as noted below), publish, transmit, distribute, display, broadcast, re-broadcast, publish, perform, rent or lend, modify, create derivative works from, reverse engineer, sell or participate in any sale of or exploit in any way, or in part, directly or indirectly, any of the Digital Media Purchases, or any related software used in connection with the delivery of the Digital Media Purchases (the “Digital Media Software”). Unauthorized reproduction or distribution of Digital Media Purchases violates applicable law. You agree to obey all applicable laws and regulations that apply to the use of any intellectual property to which you may be granted a license through the use of the Site. You may play, transfer, back-up, store and burn Digital Media Purchases files as much as reasonably necessary for your personal, non-commercial use on an unlimited number of personal computers or portable devices that you own. Any other copying is expressly prohibited. The Site will not provide free-of-charge copies of Digital Media Purchases files to restore files that you may lose due to the failure of personal storage devices, including, but not limited to, hard drives, personal computers, and portable media players. You are advised to make backup copies of Digital Media Purchases for use in case of such losses. Digital Media Purchases from the Site are available only in the United states, its territories, and possessions, and are not available in other locations. You agree not to purchase, or attempt to make Digital Media Purchases from the Site from outside of the available territory. The Site uses technologies to verify your compliance. You agree to abide by United states and other applicable export control laws not to transfer, by electronic transmission or otherwise, any content or software, including, without limitation, the Digital Media Software subject to restrictions under such national destination or person prohibited under such laws. WITHOUT LIMITING ANY PROVISION HEREIN, WE MAKE NO WARRANTY THAT ANY PARTICULAR COMPUTER, BURNER OR PORTABLE DEVICE WILL BE COMPATIBLE WITH THE SITE OR THAT ANY MEDIA DEVICE CONTAINING DIGITAL MEDIA FILES ACQUIRED FROM THE SITE WILL FUNCTION IN ALL MEDIA PLAYERS. IT IS YOUR SOLE RESPONSIBILITY TO ENSURE THAT YOUR RECORDING AND PLAYBACK SYSTEM(S) WILL FUNCTION CORRECTLY.</p>
<p>(d) Streaming Video Content. We may, in our discretion, provide to you code (the “Embed Code”) allowing you the ability to stream certain digital music and media content (the “Streaming Content”) from our Site to a personal web page or social networking profile page (“Personal Page”) on which you embed such Embed Code. Should we provide such Embed Code, it will be identified as code intended for such purpose, and SB Entertainment grants you a limited, non-exclusive, non-transferable, revocable license to embed such Embed Code solely upon web-sites owned or controlled by you, solely for purposes of streaming digital music and media content provided from the Site in order to display the Streaming Content. For any Streaming Content that we make available on a Site, we grant you a revocable permission, subject to the restrictions in these Terms, and any applicable Additional Terms, to include the Embed Code as provided by us (without editing) for inclusion only on your Personal Page and only on a site that: (i) permits you to post the Streaming Content there; and (ii) does not have terms of use or other conditions that purport to give that site operator any interest or right in or to our Embed Code or Streaming Content other than to obtain a limited, terminable right to host the Streaming Content and permit its normal operation. You may not frame the Streaming Content nor include any “pre-roll” or “post-roll” video in connection with such Streaming Content. You may not redistribute or assign any right or title in the Embed Code. You may not use the Embed Code for commercial purposes. You agree that you shall not include the Embed Code in such a way to permit the copying, modification, or creation of derivative works of any Streaming Content. You agree not to display the Streaming Content in connection with any material or content that is libelous, defamatory, obscene, pornographic, threatening, invasive of privacy or publicity rights, abusive, illegal or otherwise objectionable, or any content or material that would constitute or encourage a criminal offense, violates the rights of any party, or that would otherwise give rise to liability, or violates any law or obligation of confidentiality. Your use of the Streaming Content may display our trademarks contained in the Steaming Content or Materials made available thereby, but we control the use thereof and all goodwill associated with such use enures exclusively to us. As described below, we make no specific warranties about Streaming Content and we may discontinue providing the services necessary for the Streaming Content to operate at any time for any reason without any liability to you. In addition, we may disable Streaming Content that you include on your Personal Page(s) if you violate these Terms (as determined by us in our sole discretion), or for any or no reason, without any liability to you. You agree that our permission to you to use Streaming Content on your Personal Page does not provide you (or any third party) with any intellectual property rights, including copyrights, in or to the Streaming Content or the Materials made available. You agree not to circumvent (or in any way attempt to circumvent) the security or rights management features in Streaming Content (including any video player) that are designed to prevent users from copying, manipulating or retaining the Streaming Content.</p>
<p>(e) Software and Other Items Available For Download. Any items that we make available for download or use from the Site and/or our servers, including, without limitation, the Digital Media Software (the “Downloadable Items”) are the copyrighted work of SB Entertainment or its licensors or suppliers. You may not use the Downloadable Items for commercial purposes. Your use of the Downloadable Items may be governed by Additional Terms, which may be included with the Downloadable Items. Please carefully read any Additional Terms to determine the full extent of conditions governing the use of such Downloadable Items. WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION OF THE DOWNLOADABLE ITEMS TO ANY OTHER SERVER OR LOCATION FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED, UNLESS SUCH REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PERMITTED BY THE LICENSE AGREEMENT APPLICABLE TO SUCH DOWNLOADABLE ITEMS. Note that if you install certain applications that may be available via the Site, you consent to the download of software to your computer and accept these Terms and any Additional Terms related to such application. The Site may provide updates to the Downloadable Items for feature, security or other enhancements from time to time. You agree to hold SB Entertainment harmless in the event of damage to your device used to access the Site or data that may result from your use of the Downloadable Items.</p>
<p><strong>Information You Submit</strong></p>
<p>(a) User Content. The Site may provide you and others with the opportunity to participate in forums, blogs, message boards, social networking, and other communication and custom product functionality (collectively, “User Forums”) and may provide you with the opportunity, through such features or otherwise, to submit, post, display, transmit, perform, publish, distribute or broadcast content and materials to SB Entertainment or the Site, including, without limitation, Designs (defined below), photographs, writings, music, video, audio recordings, computer graphics, pictures, data, questions, comments, suggestions or personally identifiable information (collectively, “User Content”).</p>
<p>(b) Terms Applicable to User Content. Except as otherwise described in the Site’s posted Privacy Policy, or other agreement on the Site at which you provide your User Content, you agree that your User Content will be treated as non-confidential and non-proprietary and will not be returned. You agree that you either: (i) own the rights to the User Content you submit and the right to grant all of the rights and licenses in these Terms; or (ii) you have all necessary rights and licenses from the owner(s) of these rights to enter into these Terms and grant SB Entertainment these licenses. Upon SB Entertainment’s request, you will furnish SB Entertainment any documentation, substantiation or releases necessary to verify your compliance with these Terms. You also acknowledge that the Internet may be subject to breaches of security and should be aware that submissions of User Content or other information may not be secure, and you should consider this before submitting any information to SB Entertainment.</p>
<p>(c) License to SB Entertainment for User Content. You grant to SB Entertainment the unrestricted, unconditional, non-exclusive, unlimited, worldwide, irrevocable, perpetual and royalty-free right and license to host, use, copy, distribute, reproduce, disclose, sell, re-sell, sub-license, display, perform, transmit, publish, broadcast, modify, reformat, translate, archive, store, cache or otherwise exploit in any manner whatsoever, all or any portion of your User Content for any purpose whatsoever in all formats; on or through any media, software, formula or medium now known or hereafter developed; and with any technology or devices now known or hereafter developed and to advertise, market and promote the same. You further agree that SB Entertainment is free to use any ideas, concepts, know-how or techniques contained in any User Content you send to the Site or SB Entertainment, for any purposes whatsoever, including, without limitation, developing, manufacturing and marketing products and or services using such User Content; or creating informational articles based on or advertising our products and services, and without compensation of any kind. You further perpetually and irrevocably grant SB Entertainment the unconditional right to use and exploit your name, persona and likeness included in any User Content and in connection with any User Content, without any obligation or compensation to you. You also grant to SB Entertainment the right to sub-license and authorize others to exercise any of the rights granted to SB Entertainment under these Terms; and each such third party will be entitled to benefit from the rights and licenses granted to SB Entertainment under these Terms. You further authorize SB Entertainment to publish your User Content in a searchable format that may be accessed by users of the Site and the Internet. Except as prohibited by law, you waive any moral rights you may have in any User Content you submit, even if such User Content is altered or changed in a manner not agreeable to you.</p>
<p>(d) SB Entertainment’s Obligations Regarding User Content. You agree that SB Entertainment has no obligation to pre-screen, monitor or enforce your intellectual property rights to your User Content but has the right to protect and enforce its and its licensees’ licensed rights to your User Content. You further acknowledge and agree that SB Entertainment will not have any obligation to, but may review, monitor, display, accept or exploit any User Content and SB Entertainment may, in its sole discretion, delete, edit, distribute, move, block access, re-format, edit, alter, distort, remove or refuse to exploit User Content without notice or liability; provided, however, that SB Entertainment reserves the right to treat User Content on the Site, or on certain portions of the Site, as content stored at the direction of users for which SB Entertainment will not exercise editorial control except to enforce the rights of third parties and the content restrictions set forth in our User Forums Rules (defined below) when notice of such violations are directed to SB Entertainment’s attention. User Content posted may not be maintained on the Site by us for any period of time, we may delete it at our discretion and you have no right to access or control any User Content that you provide. You agree and understand that SB Entertainment is not obligated to use User Content and that you will not receive any consideration or compensation for your User Content or for any exploitation of it.</p>
<p>(e) Your Obligations Regarding User Content. You agree that you need to evaluate, and bear all risks associated with, the use of any of User Content, including, but not limited to, any reliance on the accuracy, completeness, or usefulness of User Content. As SB Entertainment may not pre-screen User Content, you bear legal responsibility for others’ exposure to any offensive indecent or objectionable content in User Content.</p>
<p><strong>User Forums Usage Rules</strong></p>
<p>As a user of the Site, you agree that these User Forums Usage Rules (“Rules”) are here to help you understand the conduct that is expected of individuals who participate in User Forums, including any social networking opportunities on the Site. Your participation in the User Forums is subject to all the Terms, including these Rules. We reserve the right, in our sole discretion, to monitor and screen all User Content submitted to the Site and may disregard any User Content that, in our sole discretion, violates these Rules or the Terms, or that we otherwise find objectionable. Please follow these Rules as you upload any User Content:</p>
<p>User Content has to be yours. All User Content has to be original, not copied from someone else’s work, and you have all rights in the User Content; OR, all persons who contributed in any way or have any rights to your User Content or otherwise appear in the User Content have given you permission to upload and distribute the User Content on the Site and elsewhere.</p>
<p>No pictures or images of anyone but you, your friends and family. If you choose to upload photos to the Site, link to embedded videos, or include other images of real people, make sure they are of you or of you and someone you know – but only with their express permission to submit it.<br>Please act appropriately. Express yourself with non-offensive individual self-expression. Be respectful of others opinions and comments so we can continue to build User Forums for everyone to enjoy. If you think your User Content might offend someone or be embarrassing to someone chances are it probably will and it doesn’t belong on the Site. Cursing, flaming, harassing, stalking, posting insulting comments, personal attacks, gossip or similar actions are prohibited. Your User Content may not threaten, abuse or harm others. Your User Content may not include any negative comments that are connected to race, national origin, gender, sexual preference or physical handicap or that are defamatory, slanderous, indecent, obscene, pornographic or sexually explicit.</p>
<p>Don’t upload third party materials. Your User Content should not contain any visible logos, phrases or trademarks or other third party materials. Do not use any User Content that belongs to other people and pass it off as your own. This includes any content that you might have found elsewhere on the Internet.</p>
<p>Does your User Content contain music? Your User Content may not contain any music unless the work and performance is original with you and/or you have all rights to the musical work (including any performances). No jingles, sampling or otherwise.</p>
<p>Do not use the User Forums for commercial purposes. Your User Content may not advertise or promote a product or service. You may not use your User Content to raise money for anyone, any organization, any business or for a pyramid or other multi-tiered marketing scheme.</p>
<p>Do not upload User Content that is inappropriate or illegal. Your User Content may not promote any illegal activity. If someone could go to jail for taking action suggested by your User Content, don’t upload or post it. If you do upload or post User Content that is illegal or in violation of applicable law, we reserve the right to take action that we deem appropriate, in our sole discretion, including reporting you to the proper governmental authorities.</p>
<p>No violence. Your User Content may not promote violence or describe how to perform a violent act.<br>Be honest and do not misrepresent yourself or your User Content. Do not impersonate any other person, user or company or upload or post User Content that you know is false, fraudulent, deceptive, inaccurate, misleading or that misrepresents your identity or affiliation with a person or company.</p>
<p>Others are watching. We hope that you will use the User Forums to exchange information and content and have discussions with other members. However, please remember that the User Forums is a public forum and User Content that you post on the User Forums will be accessible and viewable by other users. Do not post personal information (e.g., first and last name, password, phone number, address, e-mail address or other personally identifiable information or contact information).</p>
<p>Don’t share other people’s personal information. Your User Content may not reveal another person’s address, phone number, e-mail address, credit card number or any information that may be used to track, contact, or impersonate that individual or that is extremely personal in nature.<br>Don’t damage the Site or anyone’s computers. User Content may not upload viruses, Trojan horses, spyware or any other technologies that could impact the operation of the Site or any computer system.</p>
<p>We reserve the right to request at any time proof of the permissions referred to above in the sections starting “User Content has to be yours”, “No pictures or images of anyone but you and your friends and family” and “Does your User Content contain music?” in a form acceptable to us. Failure to provide such proof may, if requested, lead to the User Content in question being removed from the Site.</p>
<p><strong>Copyright Policy</strong></p>
<p>(a) DMCA. You may not use the Site for any purpose or in any manner that infringes the rights of any third party. In accordance with the Digital Millennium Copyright Act of 1998 (the “DMCA”) (text at http://www.copyright.gov), SB Entertainment has a designated agent for receiving notices of copyright infringement and we follow the notice and take down procedures of the DMCA. We have a policy of terminating the accounts of users who (in our reasonable discretion) are repeat infringers.</p>
<p>(b) Procedure. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide SB Entertainment’s copyright agent the following information required by the Online Copyright Infringement Liability Limitation Act of the DMCA, 17 U.S.C. § 512: (a) a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (b) identification of the copyright work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; (c) identification of the material that is claimed to be infringing or to be the subject of infringing activity and information reasonably sufficient to permit us to locate the material; (d) information reasonably sufficient to permit us to contact the complaining party; (e) a statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (f) a statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Here is the contact information for our DMCA agent:</p>
<p>Internet Administrator<br>Internet Department<br>Copyrights<br>8022 S Rainbow Road, Suite 421<br>Las Vegas, Nevada 89139</p>
<p>It is often difficult to determine if your intellectual property rights have been violated. We may request additional information before we remove any infringing material. If a dispute develops as to the correct owner of the rights in question, we reserve the right to remove your content along with that of the alleged infringer pending resolution of the matter.</p>
<p><strong>User Interactions and Disputes</strong></p>
<p>You are solely responsible for your interaction with other users of the Site, whether online or offline. We are not responsible or liable for the conduct of any user. We reserve the right, but have no obligation, to monitor or become involved in disputes between you and other users. Exercise common sense and your best judgment in your interactions with others, when you submit or post any personal or other information, and in all other online activities.</p>
<p><strong>Third Party Links and Content</strong></p>
<p>There may be links from the Site, or communications you receive from the Site, to third party web sites or our Site may include third party content that we do not control, maintain or endorse. Accessing those third party sites requires you to leave the Site. We do not control those third party sites or any of the content contained therein and you expressly acknowledge and agree that we are in no way responsible or liable for any of those third party sites, including, without limitation, their content, policies, failures, promotions, products, services, actions and/or any damages, losses, failures or problems caused by, related to or arising from those third parties or their sites. YOUR CORRESPONDENCE AND BUSINESS DEALINGS WITH OTHERS FOUND ON OR THROUGH THE SITE, INCLUDING, WITHOUT LIMITATION, THE PAYMENT AND DELIVERY OF PRODUCTS AND SERVICES, AND ANY TERMS, CONDITIONS, WARRANTIES AND REPRESENTATIONS ASSOCIATED WITH ANY SUCH DEALINGS, ARE SOLELY BETWEEN YOU AND THE THIRD PARTY. SB ENTERTAINMENT ENCOURAGES YOU TO REVIEW ALL POLICIES, RULES, TERMS AND REGULATIONS, INCLUDING THE PRIVACY POLICIES AND TERMS OF USE OF EACH AND ANY THIRD PARTY SITE THAT YOU VISIT.</p>
<p><strong>Linking Policy</strong></p>
<p>SB Entertainment grants you the revocable permission to link to the Site; provided, however, that your web site, or any third party web sites that link to the Site: (a) can not frame or create a browser or border environment around any of the content on the Site or otherwise mirror any part of the Site; (b) can not imply that SB Entertainment or the Site are endorsing or sponsoring it or its products, unless SB Entertainment has given its prior written consent; (c) can not present false information about, or disparage, tarnish, or otherwise, in SB Entertainment’s sole opinion, harm SB Entertainment or its products or services; (d) can not use any SB Entertainment trademarks without the prior written permission from SB Entertainment; (e) can not contain content that could be construed as distasteful, offensive or controversial or otherwise objectionable (in SB Entertainment’s sole opinion); and (f) has to be owned and controlled by you or the person or entity placing the link, or otherwise permit you to enable such link subject to these Terms. By linking to the Site, you agree that you do and will continue to comply with the above linking requirements. Notwithstanding anything to the contrary contained in these Terms, SB Entertainment reserves the right to prohibit linking to the Site for any reason, in our sole and absolute discretion, even if the linking complies with the requirements described above.</p>
<p><strong>Disclaimer of Warranties</strong></p>
<p>THE SITE, INCLUDING, WITHOUT LIMITATION, THE MATERIALS, ARE PROVIDED ON AN “AS IS”, “AS AVAILABLE” AND “WITH ALL FAULTS” BASIS. TO THE FULLEST EXTENT PERMISSIBLE BY LAW, SB ENTERTAINMENT AND ITS PARENT, SUBSIDIARIES OR AFFILIATES AND EACH OF THEIR EMPLOYEES, DIRECTORS, OFFICERS, MEMBERS, SHAREHOLDERS, AGENTS, VENDORS, AND CONTRACTORS (COLLECTIVELY, THE “SB ENTERTAINMENT PARTIES”) MAKE NO REPRESENTATIONS OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, AS TO: (A) THE SITE; (B) THE MATERIALS ON OR PROVIDED THROUGH THE SITE; (C) USER CONTENT; (D) THE DOWNLOADABLE ITEMS AND EMBED CODE; (E) THE FUNCTIONS MADE ACCESSIBLE ON OR THROUGH THE SITE; (F) ANY PRODUCTS, SERVICES OR INSTRUCTIONS OFFERED OR REFERENCED AT THE SITE; AND/OR (G) SECURITY ASSOCIATED WITH THE TRANSMISSION OF INFORMATION TRANSMITTED TO OR FROM FOMO  ENTERTAINMENT OR VIA THE SITE. IN ADDITION, THE SB ENTERTAINMENT PARTIES HEREBY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, CUSTOM, TRADE, QUIET ENJOYMENT, SYSTEM INTEGRATION AND FREEDOM FROM COMPUTER VIRUS.</p>
<p>THE FOMO  ENTERTAINMENT PARTIES DO NOT REPRESENT OR WARRANT THAT THE SITE OR THE FUNCTIONS CONTAINED THEREIN WILL BE ERROR-FREE OR UNINTERRUPTED; THAT DEFECTS WILL BE CORRECTED; OR THAT THE SITE OR THE SERVER THAT MAKES THE SITE AVAILABLE ARE FREE FROM ANY HARMFUL COMPONENTS, INCLUDING, WITHOUT LIMITATION, VIRUSES OR OTHER MALWARE. THE FOMO  ENTERTAINMENT PARTIES DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES THAT THE INFORMATION (INCLUDING ANY INSTRUCTIONS) ON THE SITE IS ACCURATE, COMPLETE, CORRECT, ADEQUATE, USEFUL, TIMELY, RELIABLE OR OTHERWISE. THE SB ENTERTAINMENT PARTIES DO NOT WARRANT THAT YOUR USE OF THE SITE IS LAWFUL IN ANY PARTICULAR JURISDICTION, AND THE SB ENTERTAINMENT PARTIES SPECIFICALLY DISCLAIM SUCH WARRANTIES. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO THE EXTENT SUCH JURISDICTION’S LAW IS APPLICABLE TO THESE TERMS.<br>BY ACCESSING OR USING THE SITE, YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY JURISDICTION WHERE YOU ACCESS OR USE THE SITE.</p>
<p><strong>Limited Liability</strong></p>
<p>UNDER NO CIRCUMSTANCES WILL THE FOMO  ENTERTAINMENT PARTIES BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, FOR ANY DIRECT, INDIRECT, ECONOMIC, EXEMPLARY, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES THAT ARE DIRECTLY OR INDIRECTLY RELATED TO (A) THE SITE; (B) THE MATERIALS; (C) USER CONTENT; (D) THE DOWNLOADABLE ITEMS AND EMBED CODE (E) YOUR USE OF, INABILITY TO USE, OR THE PERFORMANCE OF THE SITE; (F) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE SB ENTERTAINMENT PARTIES OR LAW ENFORCEMENT AUTHORITIES REGARDING YOUR USE OF THE SITE; (G) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OR OTHER INTELLECTUAL PROPERTY OWNERS; (H) ANY ERRORS OR OMISSIONS IN THE SITE’S TECHNICAL OPERATION; OR (I) ANY DAMAGE TO ANY USER’S COMPUTER, HARDWARE, COMPUTER SOFTWARE, WIRELESS DEVICES, CELLULAR PHONE, MODEM OR OTHER EQUIPMENT OR TECHNOLOGY, INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, LOSS OF DATA, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF FORESEEABLE OR EVEN IF THE SB ENTERTAINMENT PARTIES HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR TORT (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED, IN WHOLE OR IN PART, BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, OR THEFT OR DESTRUCTION OF THE SITE). IN NO EVENT WILL THE SB ENTERTAINMENT PARTIES BE LIABLE TO YOU OR ANYONE ELSE FOR LOSS, DAMAGE OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT WILL THE SB ENTERTAINMENT PARTIES’ TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OF ACTION EXCEED TEN UNITED STATES DOLLARS ($10.00).</p>
<p>YOUR ACCESS TO AND USE OF THE SITE IS AT YOUR RISK. IF YOU ARE DISSATISFIED WITH THE SITE OR ANY OF THE MATERIALS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE ACCESSING AND USING THE SITE OR THE MATERIALS.</p>
<p>WAIVER OF INJUNCTIVE RELIEF. YOU AGREE THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF SB ENTERTAINMENT’S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF THE SITE OR ANY OTHER WEB SITE, PROPERTY, PRODUCT, SERVICE, OR OTHER MATERIALS OWNED OR CONTROLLED BY THE SB ENTERTAINMENT PARTIES, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY WEB SITE, PROPERTY, PRODUCT, SERVICE OR OTHER MATERIALS OWNED OR CONTROLLED BY THE SB ENTERTAINMENT PARTIES OR ANY AND ALL ACTIVITIES OR ACTIONS RELATED THERETO.</p>
<p>WAIVER OF UNKNOWN CLAIMS. BY ACCESSING THE SITE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKNOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND, AND HEREBY EXPRESSLY WAIVE, THE BENEFITS OF SECTION 1542 OF THE CIVIL CODE OF CALIFORNIA, AND ANY SIMILAR LAW OF ANY STATE, WHICH PROVIDES AS FOLLOWS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”</p>
<p><strong>Indemnification</strong></p>
<p>You agree to defend (if requested by SB Entertainment), indemnify and hold harmless the SB Entertainment Parties from and against any and all claims, damages, losses, costs, investigations, liabilities, judgments, settlements and expenses, including attorneys’ fees, that directly or indirectly arise from or are otherwise directly or indirectly related to: (a) User Content; (b) your use of the Site or activities in connection with the Site; (c) your breach or anticipatory breach of these Terms; (d) your violation of any laws, rules, regulations, codes, statutes, ordinances or orders of any governmental and quasi-governmental authorities, including, without limitation, all regulatory, administrative and legislative authorities; (e) information or material transmitted through your computer or other device used to access the Site, even if not submitted by you, that infringes, violates or misappropriates any copyright, trademark, trade secret, trade dress, patent, publicity, privacy or other right of any person or defames any person; (f) any misrepresentation made by you; or (g) the SB Entertainment Parties’ use of your information. You will cooperate as fully required by the SB Entertainment Parties in the defense of any claim. Notwithstanding the foregoing, the SB Entertainment Parties retain the exclusive right to settle, compromise and pay any and all claims, demands, proceedings, suits, actions or causes of action which are brought against them herein under the terms and provisions of this Section. The SB Entertainment Parties reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you will not in any event settle any claim without the prior written consent of a duly authorized employee of the SB Entertainment Parties.</p>
<p><strong>Termination and Modifications</strong></p>
<p>(a) Termination. SB Entertainment reserves the right to terminate your access to and use of the Site, including, without limitation your accounts, in its sole discretion, without notice and liability, including, without limitation, if SB Entertainment believes your conduct fails to conform with these Terms. SB Entertainment also reserves the right to investigate suspected violations of these Terms, including, without limitation, any violation arising from any e-mails you send to the Site or SB Entertainment. Any violation, or potential violation, of these Terms may be referred to law enforcement authorities.</p>
<p>(b) Modifications. SB Entertainment reserves the exclusive right to modify, withdraw, suspend or discontinue, temporarily or permanently, at any time and from time to time, any Materials available on the Site, without limitation, in whole or in part, including the cessation of all activities associated with the Site, with or without notice. You agree that SB Entertainment will not be liable to you or to any third party for any modification, suspension or discontinuance of the Site or any part thereof.</p>
<p>(c) What happens upon Termination? Upon termination of your access to the Site and/or your accounts, or upon demand from SB Entertainment, all rights granted to you under these Terms will cease immediately, and you agree that you will: (a) immediately discontinue use of the Site, including links to the Site; and (b) destroy all Materials obtained from the Site and all related documentation.</p>
<p><strong>Location of Site and Territorial Restrictions</strong></p>
<p>The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject SB Entertainment to any registration requirement within such jurisdiction or country. SB Entertainment controls and operates the Site from offices located in the United states and makes no representations or warranties that the information, products or services contained on the Site are appropriate for use or access in other locations. Anyone using or accessing the Site from other locations does so on their own initiative and are responsible for compliance with United states’, and local laws regarding online conduct and acceptable content, if and to the extent such local laws are applicable. We reserve the right to limit the availability of the Site and/or the provision of any content, program, product, service or other feature described or available thereon to any person, geographic area, or jurisdiction, at any time and in our sole discretion, and to limit the quantities of any such content, program, product, service or other feature that we provide.</p>
<p><strong>Governing Law, Jurisdiction and No Class Actions</strong></p>
<p>(a) GOVERNING LAW/JURISDICTION. THESE TERMS AND THE INTERPRETATION OF THESE TERMS WILL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE STATE OF NEVADA AND CLARK COUNTY , WITHOUT REGARD TO ITS CONFLICTS OF LAWS PRINCIPLES AND SPECIFICALLY WILL NOT BE GOVERNED BY THE UNITED NATIONS CONVENTIONS ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS, IF OTHERWISE APPLICABLE. YOU AGREE THAT JURISDICTION OVER AND VENUE IN ANY LEGAL PROCEEDING DIRECTLY OR INDIRECTLY ARISING OUT OF OR RELATING TO THE SITE, THE USE OR ACCESS THEREOF, OR THESE TERMS MUST BE IN THE STATE OR FEDERAL COURTS LOCATED IN CLARK COUNTY, NEVADA AND YOU HEREBY CONSENT AND SUBMIT TO THE EXCLUSIVE PERSONAL JURISDICTION AND VENUE OF THE COURTS LOCATED IN LOS ANGELES COUNTY, CALIFORNIA FOR ANY SUCH LEGAL PROCEEDING. ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE WITH RESPECT TO ANY SITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION ARISES.</p>
<p>(b) No Class Actions. To the fullest extent permitted by applicable law, you agree that any and all disputes, claims and causes of action you may have in connection with or related to the Site will be resolved individually, without resort to any form of class action.</p>
<p><strong>Updates to Terms</strong></p>
<p>SB Entertainment reserves the right to modify or add to these Terms or any Additional Terms, at any time without prior notice (“Updated Terms”). You agree that we may notify you of the Updated Terms by posting them on the Site so that they are accessible via a link on the home page of the Site, and that your use of the Site after we have posted the Updated Terms (or engaging in such other conduct as we may reasonably specify) constitutes your agreement to the Updated Terms. Therefore, you should review these Terms and any Additional Terms before using the Site. The Updated Terms will be effective as of the time of posting, or such later date as may be specified in the Updated Terms, and will apply to your use of the Site from that point forward.</p>
<p><strong>Miscellaneous</strong></p>
<p>The failure of SB Entertainment to act with respect to a breach of these Terms by you or others does not constitute a waiver and will not limit SB Entertainment rights with respect to such breach or any subsequent breaches. No waiver by SB Entertainment of any of these Terms will be of any force or effect unless made in writing and signed by a duly authorized office of SB Entertainment. SB Entertainment may assign its rights and duties under these Terms to any party at any time without any notice to you. These Terms may not be assigned by you without SB Entertainment prior written consent. If any provision of these terms shall be unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these terms and shall not affect the validity and enforceability of any remaining provisions. You agree that these Terms will not be construed against SB Entertainment by virtue of having drafted them.</p>
<p>If you have any questions regarding these Terms of Use, please contact our Internet Administrator at:</p>
<p>Internet Administrator<br>Internet Department<br>Terms Of Use Questions<br>8022 S Rainbow Road, Suite 421<br>Las Vegas, Nevada 89139</p>
    </div>
</%block>
