a
{
    color: black;
}
a:hover
{
    color: black;
    text-decoration: none;
}
.centerpanel
{
    overflow-y: auto;
}
.last5container
{
    display: flex;
    flex-direction: column;
    align-items: space-around;

    margin-left: 40px;
    margin-right: 40px;
}

.last5item
{
    background-color: white;
    height: 75px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 5px #888888;
    margin: 7px;
}

.last5item > img
{
    height: 60px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid;

}
h6
{
    margin-top: 1px;
    margin-left: 3px;
}

h4
{
    margin-left: 5px;
}
.leftpanel
{

    max-width: 400px;
    min-width: 200px;
    background-color: #9ad9e4;

}
