.rightpanel
{
    max-width: 400px;
    min-width: 200px;
    overflow-y: hidden;
    background-color: #d3d3d3;
    width:10%;
}

.centerpanel
{
        height: 85vh;
        width: 80%

}

.catalogactive
{
    background: #edf5f6;
    color: black;

}
.leftpanel
{

    max-width: 400px;
    min-width: 200px;
    background-color: #9ad9e4;
    width: 10%;

}
.breadcrumb
{
    padding: 4px;
}
#search
{
    margin-right: 7px;
    margin-top: 5px;
    height: auto;
    display: inline;
    width: auto;
    padding: 0;

    padding: 2px;


}
.glyphicon-search
{
    margin-left: 2px;
}
.btn
{
    color:black;
}
.search
{
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}
#title
{
    display: inline;
}
h2
{
    margin-left: 10px;
    margin-top: 30px;
    font-size: 40px;
}
h3, h5
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
}
#centerrow
{
    justify-content: flex-start;
    background-color: white;
}

.productswrapperwrapper
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;

}

.productwrapper
{
    height: 175px;
    width: 175px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 5px #888888;
    margin-left: 25px;
    margin-right:25px;
    margin-top: 10px;
}
.categoryitem
{
    list-style: none;
}
.productimg
{
    width: 100%;
    height: 110px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.productimg img
{
    width: 100%;
    height: 110px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.producttext
{
    width: 100%;
    height: 65px;
    border: 0px;
    border-top: 1px;
    border-color: black;
    border-style: solid;
}
