.productimages
{
    height: 325px;
    width: 325px;

}

.next
{

}

.hide
{
    display:none;
}

.right
{
    font-size: 16pt;
    margin-bottom: 5px;
}
.left
{
    font-size: 16pt;
    margin-bottom: 5px;
}
.glyphicon:hover
{
    cursor: pointer;
}
#imgcontainer
{
    display: flex;
    align-items: center;
    width: 100%;
}
