.rightpanel
{
    max-width: 400px;
    min-width: 200px;
    overflow-y: hidden;
    background-color: #d3d3d3;
}

.centerpanel
{
        height: 100%;
        min-height: 80vh;
        width: 100%
}

.leftpanel
{

    max-width: 400px;
    min-width: 200px;
    background-color: #9ad9e4;

}
.productdetailscontainer
{
    padding: 20px;
    margin-bottom: 10px;
}
.btn
{
    margin-bottom: 5px;
    background-color: #1560BD;
    color: #FFFAFA;
}
.imgcenter
{
    width: 250px;
    height: 250px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    margin-top: 20px;
    border: black solid 1px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    cursor: pointer;

}
p
{
 margin-left: 7px;
}
h1
{
    display: block;
    margin-left: 5px;
    color:black;
    font-size: 30pt;
    margin-bottom: 7px;
}
h4
{
    margin-left: 5px;
    font-size: 16pt;
}
#centerrow
{
    justify-content: flex-start;
    background-color: white;
}
h6
{
    margin-top: 1px;
    margin-left: 3px;
}
.last5container
{
    display: flex;
    flex-direction: column;
    align-items: space-around;

    margin-left: 40px;
    margin-right: 40px;
}

.last5item
{
    background-color: white;
    height: 75px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 5px #888888;
    margin: 7px;
}
.quanitity-title
{
    margin-right: 3px;
    margin-top: 5px;
}
.last5item > img
{
    height: 60px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid;

}

#quantitybuy
{
    width: 40px;
    margin-right: 10px;
    text-align:right;
    margin-top: 5px;
}

h5
{
    display: inline;
}
