.searchresultpic
{
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.searchresult
{
    height: 180px;
}
.searchresult:hover
{
    cursor: pointer;
}
.flexsearch
{
    display: flex;
    align-items: center;
    height: 100%;

}
.description
{
    font-size: 12pt;
    margin-left: 10px;
}
#productname
{
    display: inline;
    margin-left: 10px;
}
#productprice
{
    display: inline-block;
}
